[submodule "FastBoot"]
	path = FastBoot
	url = https://github.com/WOA-Project/FastBoot
[submodule "AndroidDebugBridge"]
	path = AndroidDebugBridge
	url = https://github.com/WOA-Project/AndroidDebugBridge
[submodule "UnifiedFlashingPlatform"]
	path = UnifiedFlashingPlatform
	url = https://github.com/WOA-Project/UnifiedFlashingPlatform
